@charset "UTF-8";
/* CSS Document */
body {
      margin: 0;
      font-size: 28px;
      font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
        background-color: #f2e8d0;
    }

    .header {
      background-color: #c7b198;
      padding: 30px;
      text-align: center;
    font-size: 35px;
        }

.headertext {
        padding: 10px 20px;
    font-size: 50px;
    text-shadow: -3px -3px #ab9984;
    color: #333
} 
.headerr {
    background-color: #c7b198;
      padding: 30px;
      text-align: center;
    font-size: 25px;
}

.headerrtxt {
    padding: 5px 40px 5px 40px;
    font-style: italic;
    color: #333;
}

    #navbar {
        text-align: center;
      background-color: #dfd3c3;
		padding: 5px 20px;
		float: center;
    }

    #navbar a {
      color: #333;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

#navbar .nav:after {    
  background: none repeat scroll 0 0 transparent ;
  bottom: 1;
  content: "";
  display: block;
  height: 3.5px;
  left: 50%; 
  position: absolute;
  background: rosybrown;
  transition: width 0.7s ease 0s, left 0.6s ease 0s;
  width: 0;
}
#navbar .nav:hover:after { 
  width: 100%; 
  left: 0; 
}

    #navbar a:hover {
      background-color: #f0ece3;
      color: rosybrown;
      padding: 15px 25px 7px 25px
    }

    #navbar a.active {
      background-color: #596e79;
      color: white;
    }
/* end of header */

/* body */
.NA {
    text-align: center
}
#NAtable {
 	
}

.intro {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}


.accordion input {
    display: none;
}

h2{
  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
  font-size: 30px;
  text-align:center;
  margin-bottom:10vh;
}

.accordion {
  background: #DFD3C3;
  width: 100%;
  border-radius: 5px;
  color: rosybrown;
}

.accordion label {
  display: block;
  height: 30px; 
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  padding: 30px;
}

.accordion:section {
    background: #F2E8D0;
    color: #333333;
    height: 0;
    padding-left: 3vw;
    transition:height 0.3s ease-in-out;
}
.accordion section {
    background: white;
    color: #333333;;
    overflow: hidden;
    height: 0;
    padding-left: 3vw;
}

.accordion input:checked ~ section {
    height:auto;
	transform: none
}


.accordion label:hover {
     background: rosybrown;
     color: #DFD3C3;
     transition: ease 0.4s;
}


* {box-sizing: border-box}


.register {
	text-decoration-line: underline;
}

.container {
  padding: 1px;
}

input[type=text], input[type=password] {
  width: 40%;
  padding: 15px 5px;
  margin: 5px 0 22px 0;
  text-align: center;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #DFD3C3;
  color: black;
  font-size: 20px;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 0.9;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"
}

.registerbtn:hover {
  opacity:1;
}

a {
  color: rosybrown;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
	padding: 1px;
	width: 40%;
}


/* footer*/
.footer {
    background-color: #C7B198;
    padding: 10px;
    color: black;
    text-align: center;
}
